Sources/Configuration Section Designer/ConsoleApplication/SoT.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:ConsoleApplication" elementFormDefault="qualified" targetNamespace="urn:ConsoleApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SoT" type="tns:ConsoleApplication.SoTCT" />
	<xs:complexType name="ConsoleApplication.SoTCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="component" type="tns:ConsoleApplication.ComponentCT">
				<xs:annotation>
					<xs:documentation>The Component.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ConsoleApplication.ComponentCT">
		<xs:attribute name="path" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Path.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
